In [5]:
print("---------LINEAR REGRESSION--------")import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [6]:
df=pd.read_csv("C:/Users/raswa/Downloads/covid_19_india+%281%29.csv")

In [7]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [9]:
df=df.rename(columns={'Sno':'sno','Date':'date','State/UnionTerritory':'state','Cured':'cure','Deaths':'deaths','Confirmed':'confirm'})

In [11]:
df.head()

,sno,date,Time,state,ConfirmedIndianNational,ConfirmedForeignNational,cure,deaths,confirm
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [12]:
df2=df.copy()

In [13]:
df2.head()

,sno,date,Time,state,ConfirmedIndianNational,ConfirmedForeignNational,cure,deaths,confirm
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [14]:
df2=df2.drop(columns={'Time','ConfirmedIndianNational','ConfirmedForeignNational'})

In [15]:
df2.head()

   sno        date   state  cure  deaths  confirm
0    1  2020-01-30  Kerala     0       0        1
1    2  2020-01-31  Kerala     0       0        1
2    3  2020-02-01  Kerala     0       0        2
3    4  2020-02-02  Kerala     0       0        3
4    5  2020-02-03  Kerala     0       0        3

In [31]:
df2.dtypes

sno         int64
date       object
state      object
cure        int64
deaths      int64
confirm     int64
dtype: object

In [18]:
df2['state'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya',
       'Dadra and Nagar Haveli and Daman and Diu',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Lakshadweep'], dtype=object)

In [38]:
pon=df2[df2['state']=='Puducherry']

In [39]:
pon

         sno        date       state   cure  deaths  confirm
199      200  2020-03-18  Puducherry      0       0        1
217      218  2020-03-19  Puducherry      0       0        1
237      238  2020-03-20  Puducherry      0       0        1
259      260  2020-03-21  Puducherry      0       0        1
282      283  2020-03-22  Puducherry      0       0        1
...      ...         ...         ...    ...     ...      ...
13960  13961  2021-04-18  Puducherry  42313     705    47108
13996  13997  2021-04-19  Puducherry  42595     708    47771
14032  14033  2021-04-20  Puducherry  42931     713    48336
14068  14069  2021-04-21  Puducherry  43184     717    48974
14104  14105  2021-04-22  Puducherry  43467     722    49593

[401 rows x 6 columns]

In [21]:
pon.tail()

         sno        date       state   cure  deaths  confirm
13960  13961  2021-04-18  Puducherry  42313     705    47108
13996  13997  2021-04-19  Puducherry  42595     708    47771
14032  14033  2021-04-20  Puducherry  42931     713    48336
14068  14069  2021-04-21  Puducherry  43184     717    48974
14104  14105  2021-04-22  Puducherry  43467     722    49593

In [23]:
lr=LinearRegression()

In [24]:

lr

LinearRegression()

In [32]:
pon['date']=pd.to_datetime(pon['date'])

C:\Users\raswa\AppData\Local\Temp\ipykernel_17376\44027303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pon['date']=pd.to_datetime(pon['date'])

In [29]:
pon.tail()

         sno       date       state   cure  deaths  confirm
13960  13961 2021-04-18  Puducherry  42313     705    47108
13996  13997 2021-04-19  Puducherry  42595     708    47771
14032  14033 2021-04-20  Puducherry  42931     713    48336
14068  14069 2021-04-21  Puducherry  43184     717    48974
14104  14105 2021-04-22  Puducherry  43467     722    49593

In [44]:
pon['date']=pon['date'].map(dt.datetime.toordinal)

C:\Users\raswa\AppData\Local\Temp\ipykernel_17376\1007837658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pon['date']=pon['date'].map(dt.datetime.toordinal)

In [34]:
import datetime as dt

In [36]:
pon.dtypes

dtype('int64')

In [45]:
pon.tail()

         sno    date       state   cure  deaths  confirm
13960  13961  737898  Puducherry  42313     705    47108
13996  13997  737899  Puducherry  42595     708    47771
14032  14033  737900  Puducherry  42931     713    48336
14068  14069  737901  Puducherry  43184     717    48974
14104  14105  737902  Puducherry  43467     722    49593

In [43]:
pon.dtypes

sno                 int64
date       datetime64[ns]
state              object
cure                int64
deaths              int64
confirm             int64
dtype: object

In [42]:
pon['date']=pd.to_datetime(pon['date'])

C:\Users\raswa\AppData\Local\Temp\ipykernel_17376\44027303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pon['date']=pd.to_datetime(pon['date'])

In [46]:
pon.tail()

         sno    date       state   cure  deaths  confirm
13960  13961  737898  Puducherry  42313     705    47108
13996  13997  737899  Puducherry  42595     708    47771
14032  14033  737900  Puducherry  42931     713    48336
14068  14069  737901  Puducherry  43184     717    48974
14104  14105  737902  Puducherry  43467     722    49593

In [50]:
x=pon['date']
y=pon['deaths']

In [59]:
prede=lr.fit(np.array(x).reshape(-1,1),np.array(y).reshape(-1,1))

In [77]:
pred=lr.predict(pon['confirm'].values.reshape(-1,1))

In [78]:
pon['pred']=pred

C:\Users\raswa\AppData\Local\Temp\ipykernel_17376\772848985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pon['pred']=pred

In [81]:
pon.query("pred >500")['date'].min()

nan